/* General Styling */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f8f5f2;
  color: #3d3d3d;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  background-color: #ebf5f7;
}

.header-pearl {
  font-family: "Garamond", serif;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: -1em;
  margin-bottom: -0.7em;
  color: #4d4d4d;
}

/* Copy all styles from style.css here */
