body {
  /* font-family: sans-serif; */
  font-family: "Raleway", sans-serif;
  /* Standard HTML font */
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f8f5f2;
  /* Soft, off-white background */
  color: #3d3d3d;
  /* Dark gray text for contrast */
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  background-color: #ebf5f7;
}

.header-pearl {
  font-family: "Garamond", serif;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: -1em;
  margin-bottom: -0.7em;
  color: #4d4d4d;
}

.header-symbol {
  font-size: 1.5em;
  position: relative;
  top: -0.05em;
  margin-right: 0.25em;
  /* margin-top: -0.5em; */
  /* margin-bottom: -0.0em; */
}

.header-links {
  text-align: right;
}

.hero-container {
  background: linear-gradient(to bottom, #f2e6de, #e6d9ce);
  color: #4d4d4d;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8rem 2rem;
  max-width: 600px;
  flex: 1 1 400px;
}

.pearl-symbol {
  font-size: 15em;
  font-weight: bold;
  color: #4d4d4d;
  text-align: center;
  display: block;
  margin-bottom: -0.2em;
  margin-top: -0.5em;
  padding-right: 48px;
}

.logo {
  text-align: right;
}

.hero-bullets {
  width: 100%;
  text-align: right;
}

.hero-bullets ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.hero-bullets li {
  /* text-align: right; */
  position: relative;
}

.hero-bullets li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3em;
  font-size: 1.3em;
}

.hero-bullets li::after {
  content: "◦";
  font-size: 2em;
  line-height: 0;
  order: 2;
}

.hero-container h1,
.hero-container h2,
.hero-container h3 {
  margin: 0.5rem 0;
}

.hero-container h1,
.hero-container h2 {
  font-family: "Garamond", serif;
}

.hero-container h2 {
  color: #000000;
}

.hero-container h3 span {
  white-space: nowrap;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.text-nowrap {
  white-space: nowrap;
}

h1 {
  font-size: 3em;
}

/* Largest */
h2 {
  font-size: 4em;
}

/* Smallest */

main {
  margin: 0 auto;
}

.section-800 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

.text-right {
  text-align: right;
}

.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  padding: 0 2rem;
}

.contact-button {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 24px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.intro-text {
  font-family: "Raleway", sans-serif;
  /* flex: 2; */
  padding: 2rem;
  text-align: left;
}

@media (max-width: 1024px) {
  .hero-container {
    flex-direction: column;
  }

  .knowledge-visual-container {
    align-self: flex-start;
  }

  .hero-content {
    align-self: flex-end;
    padding: 2rem;
  }
}

li {
  margin-bottom: 0.5rem;
}

button {
  background-color: #ebf5f7;
  color: #4d4d4d;
  /* color: #00b3b3; */
  /* color: #006c6c; */
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #ebf5f7;
  color: #4d4d4d;
}

.knowledge-visual-container {
  padding: 2rem;
  width: 400px;
  flex: 0 0 auto;
}
.knowledge-visual {
  /* padding: 2rem; */
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 400px;
  margin: 0 auto;
}

.knowledge-visual-text {
  flex: 1;
}

.knowledge-visual-img {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  display: flex;
}

.knowledge-visual-image {
  width: 100%;
  height: auto;
}

.knowledge-lead {
  font-size: 1.2em;
  margin: 1.5rem 0;
  color: #4d4d4d;
}

.knowledge-visual-text ul {
  list-style: none;
  padding: 0;
}

.knowledge-visual-text li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1.5em;
}

.knowledge-visual-text li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #4d4d4d;
}

@media (max-width: 768px) {
  /* .knowledge-visual { */
  /*   flex-direction: column; */
  /*   gap: 2rem; */
  /* } */
}

.use-cases {
  position: relative;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.use-case-container {
  display: flex;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* padding: 20px; */
  /* padding-left: calc(30vw - 20px); */
  scroll-padding-right: 50%;
}

.use-case {
  flex: 0 0 auto;
  /* width: calc(50% - 20px); */
  /* width: calc(1024px - 1em); */
}

.use-case-before,
.use-case-after {
  flex: 0 0 auto;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
}

.use-case-text {
  margin-bottom: 1rem;
  text-align: left;
}

.use-case-text h3 {
  /* h4 { */
  /* font-size: 2.0em; */
  /* font-weight: 200; */
  margin-bottom: 0.5rem;
  margin-top: 0rem;
}

.use-case-img {
  margin-top: auto;
}

.use-case-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customer-logos {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  overflow-x: auto;
  padding: 20px 0;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* Firefox */
}

.customer-logos::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.customer-item {
  text-align: center;
  flex: 0 0 auto;
  min-width: 200px;
}

.customer-logo {
  max-height: 40px;
  width: auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.section-separator {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #f2e6de, #e6d9ce);
  margin: 4rem auto;
  max-width: 800px;
}

.comparison-tables {
  display: flex;
  gap: 40px;
  width: 100%;
  margin: 2rem 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;
}

.comparison-table {
  flex: 1;
  border-collapse: collapse;
  width: 100%;
}

.comparison-table th,
.comparison-table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #e6d9ce;
}

.comparison-table th {
  /* background-color: #f2e6de; */
  font-weight: bold;
}

.comparison-table tr:last-child td {
  border-bottom: 2px solid #e6d9ce;
}

.comparison-table tr.highlight td {
  background-color: #f2e6de;
  font-weight: bold;
}

.customer-link {
  color: inherit;
  text-decoration: none;
  font-size: 1em;
}

.customer-link:hover {
  text-decoration: underline;
}

/* @media (max-width: 1024px) { */
/* .hero-container { */
/*   flex-direction: column; */
/* } */

/* .pearl-container { */
/*   position: relative; */
/*   left: 50%; */
/*   top: auto; */
/*   transform: translateX(-50%); */
/*   padding-top: 1rem; */
/*   margin-bottom: 1rem; */
/*   width: 100%; */
/* } */

/* .hero-content { */
/*   width: 100%; */
/*   text-align: right; */
/*   margin-bottom: 2rem; */
/* } */

/* .hero-bullets { */
/*   width: 100%; */
/*   padding: 1rem; */
/* } */

/* .logo { */
/*   padding: 0 2rem; */
/* } */
/* } */

/*  KnowledgeVisual */

chatgpt-mock *,
chatgpt-mock :after,
chatgpt-mock :before {
  border: 0 solid #e3e3e3;
  box-sizing: border-box;
}
chatgpt-mock html {
  --text-secondary: #5d5d5d;
  --text-tertiary: #b4b4b4;
  --main-surface-primary: #fff;
  --main-surface-tertiary: #ececec;
  font-feature-settings: normal;
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica,
    Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
  font-variation-settings: normal;
  line-height: 1.5;
  tab-size: 4;
}
chatgpt-mock body {
  line-height: inherit;
  margin: 0;
}
chatgpt-mock p {
  margin: 0;
}
chatgpt-mock svg {
  display: block;
}
chatgpt-mock body,
html {
  background-color: var(--main-surface-primary);
}
chatgpt-mock body,
chatgpt-mock html {
  height: 100%;
}
.icon-md {
  height: 18px;
  width: 18px;
}
.icon-md {
  stroke-width: 1.5;
  flex-shrink: 0;
}
.icon-md-heavy {
  stroke-width: 2.5;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.icon-lg {
  stroke-width: 1.5;
  flex-shrink: 0;
  height: 1.5rem;
  width: 1.5rem;
}
.icon-xl-heavy {
  stroke-width: 2;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}
chatgpt-mock * {
  scrollbar-color: var(--main-surface-tertiary) transparent;
}
.gizmo-bot-avatar {
  outline: solid 1px var(--main-surface-tertiary);
}
.relative {
  position: relative;
}
.bottom-0 {
  bottom: 0;
}
[dir="ltr"] .left-0 {
  left: 0;
}
[dir="ltr"] .right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.z-10 {
  z-index: 10;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-1\.5 {
  margin-bottom: 0.375rem;
  margin-top: 0.375rem;
}
.my-2\.5 {
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}
[dir="ltr"] .-ml-2 {
  margin-left: -0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
[dir="ltr"] .ml-3 {
  margin-left: 0.75rem;
}
[dir="ltr"] .ml-auto {
  margin-left: auto;
}
[dir="ltr"] .mr-1\.5 {
  margin-right: 0.375rem;
}
[dir="ltr"] .mr-3 {
  margin-right: 0.75rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.h-10 {
  height: 2.5rem;
}
.h-8 {
  height: 2rem;
}
.h-\[30px\] {
  height: 30px;
}
.min-h-\[60px\] {
  min-height: 60px;
}
.w-8 {
  width: 2rem;
}
.w-\[30px\] {
  width: 30px;
}
.max-w-\[70\%\] {
  max-width: 70%;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-col {
  flex-direction: column;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-3 {
  gap: 0.75rem;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.border-transparent {
  border-color: transparent;
}
.p-1 {
  padding: 0.25rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-1\.5 {
  padding-bottom: 0.375rem;
  padding-top: 0.375rem;
}
.py-\[18px\] {
  padding-bottom: 18px;
  padding-top: 18px;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.font-semibold {
  font-weight: 600;
}
.text-token-text-secondary {
  color: var(--text-secondary);
}
.text-token-text-tertiary {
  color: var(--text-tertiary);
}
.first\:mt-0:first-child {
  margin-top: 0;
}

.kkheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kkicon {
  color: #5d5d5d;
  height: 24px;
  width: 24px;
  stroke-width: 1.5;
}

.kkicon18 {
  color: #5d5d5d;
  height: 18px;
  width: 18px;
  stroke-width: 1.5;
}

.kko1 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #5d5d5d;
}

.kkask {
  color: #0d0d0d;
  background-color: #f3f3f3;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 1.5rem;
  max-width: 70%;
  position: relative;
  font-size: 16px;
  margin-left: auto;
}

.kkccirc-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.kicon-md {
  height: 18px;
  width: 18px;
}
.kgizmo-bot-avatar {
  outline: solid 1px #ececec;
}

.gizmo-bot-avatar {
  outline: solid 1px #ececec;
}

.kkccirc {
  align-items: center;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  color: rgb(13, 13, 13);
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
  line-height: 24px;
  outline-color: rgb(236, 236, 236);
  outline-style: solid;
  outline-width: 0.666667px;
}

.kkthoughts {
  gap: 0.25rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.response {
  line-height: 1.75;
}

.kkiconrow {
  display: flex;
  flex-direction: row;
}

.kkiconmdh {
  stroke-width: 2.5;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
  color: rgb(93, 93, 93);
}

.kkicons {
  stroke-width: 1.5;
  color: rgb(93, 93, 93);
  height: 16px;
  width: 16px;
}
