/* General Styling */
body {
  font-family: sans-serif;
  /* Standard HTML font */
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f8f5f2;
  /* Soft, off-white background */
  color: #3d3d3d;
  /* Dark gray text for contrast */
}

header {
  background: linear-gradient(to bottom, #f2e6de, #e6d9ce);
  color: #4d4d4d;
  padding: 2rem;
  text-align: right;
  max-width: 480px;
  margin-left: auto;
  border-bottom-left-radius: 50px;
}

.logo {
  padding: 1rem 0;
}


header h1,
header h2,
header h3 {
  margin: 0.5rem 0;
}

header h1,
header h2 {
  font-family: 'Garamond', serif;
}

header h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

header h3 span {
  white-space: nowrap;
}

h1 {
  font-size: 4em;
}

/* Largest */
h2 {
  font-size: 3em;
  color: #000000;
}

h3 {
  font-size: 1.5em;
  /* margin-top: 5em; */
}

/* Smallest */

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

li {
  margin-bottom: 0.5rem;
}

button {
  background-color: #e6d9ce;
  color: #000000;
  /* Softer pearl color */
  color: #4d4d4d;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #e6d9ce;
  color: #4d4d4d;
}

.customer-logos {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.customer-item {
  text-align: center;
}

.customer-logo {
  max-height: 40px;
  width: auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.section-separator {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #f2e6de, #e6d9ce);
  margin: 4rem 0;
}

.customer-link {
  color: inherit;
  text-decoration: none;
  font-size: 1em;
}

.customer-link:hover {
  text-decoration: underline;
}
