.kkheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kkicon {
  color: #5d5d5d;
  height: 24px;
  width: 24px;
  stroke-width: 1.5;
}

.kkicon18 {
  color: #5d5d5d;
  height: 18px;
  width: 18px;
  stroke-width: 1.5;
}

.kko1 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #5d5d5d;
}

.kkask {
  color: #0d0d0d;
  background-color: #f3f3f3;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 1.5rem;
  max-width: 70%;
  position: relative;
  font-size: 16px;
  margin-left: auto;
}

.kkccirc-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.kicon-md {
  height: 18px;
  width: 18px;
}
.kgizmo-bot-avatar {
  outline: solid 1px #ececec;
}

.icon-md {
  height: 18px;
  width: 18px;
}
.gizmo-bot-avatar {
  outline: solid 1px #ececec;
}
.flex {
  display: flex;
}
.h-8 {
  height: 2rem;
}
.w-8 {
  width: 2rem;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.rounded-full {
  border-radius: 9999px;
}

.kkccirc {
  align-items: center;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  color: rgb(13, 13, 13);
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
  line-height: 24px;
  outline-color: rgb(236, 236, 236);
  outline-style: solid;
  outline-width: 0.666667px;
}

.kkthoughts {
  gap: 0.25rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.response {
  line-height: 1.5;
}

.kkiconrow {
  display: flex;
  flex-direction: row;
}

.kkiconmdh {
  stroke-width: 2.5;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
  color: rgb(93, 93, 93);
}

.kkicons {
  stroke-width: 1.5;
  color: rgb(93, 93, 93);
  height: 16px;
  width: 16px;
}

/* .ml-3 { */
/*   margin-left: 0.75rem; */
/* } */
