---
interface Props {
	query: string;
	response: string;
}

const { query, response } = Astro.props;
---

<div class="google-mock">
	<div class="google-logo">
		<svg
			height="30"
			viewBox="0 0 92 30"
			width="92"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M38.9 15.51c0 4.26-3.32 7.39-7.4 7.39s-7.4-3.14-7.4-7.39c0-4.28 3.32-7.39 7.4-7.39s7.4 3.1 7.4 7.39zm-3.24 0c0-2.66-1.93-4.48-4.16-4.48-2.23 0-4.16 1.82-4.16 4.48 0 2.63 1.93 4.48 4.16 4.48 2.23 0 4.16-1.85 4.16-4.48z"
				fill="#EA4335"></path>
			<path
				d="M11.96 22.98C5.63 22.98.31 17.83.31 11.5S5.63.02 11.96.02c3.5 0 5.99 1.37 7.87 3.16L17.62 5.4c-1.34-1.26-3.16-2.24-5.66-2.24-4.62 0-8.23 3.72-8.23 8.34 0 4.62 3.61 8.34 8.23 8.34 3 0 4.7-1.2 5.79-2.3.9-.9 1.49-2.2 1.74-4.17H12v-3.14h10.52c.11.56.17 1.23.17 1.96 0 2.35-.64 5.49-2.72 7.56-2.02 2.11-4.59 3.23-8.01 3.23z"
				fill="#4285F4"></path>
			<path
				d="M54.9 15.51c0 4.26-3.32 7.39-7.4 7.39s-7.4-3.14-7.4-7.39c0-4.28 3.32-7.39 7.4-7.39s7.4 3.1 7.4 7.39zm-3.24 0c0-2.66-1.93-4.48-4.16-4.48-2.23 0-4.16 1.82-4.16 4.48 0 2.63 1.93 4.48 4.16 4.48 2.23 0 4.16-1.85 4.16-4.48z"
				fill="#FBBC05"></path>
			<path
				d="M70 8.56v13.27c0 5.46-3.05 7.7-6.86 7.7-3.58 0-5.74-2.41-6.55-4.37l2.83-1.18c.5 1.2 1.74 2.63 3.72 2.63 2.44 0 3.78-1.51 3.78-4.34v-1.06h-.11c-.73.9-2.04 1.68-3.81 1.68-3.7 0-7-3.22-7-7.36 0-4.17 3.3-7.42 7-7.42 1.76 0 3.08.78 3.81 1.65h.11v-1.2H70zm-2.86 6.97c0-2.6-1.74-4.51-3.95-4.51-2.24 0-3.95 1.9-3.95 4.51 0 2.58 1.71 4.45 3.95 4.45 2.22.01 3.95-1.87 3.95-4.45z"
				fill="#4285F4"></path>
			<path d="M75 1.17V22.9h-3V1.17h3z" fill="#34A853"></path>
			<path
				d="M87.5 17.94l2.48 1.68c-.8 1.2-2.73 3.28-6.06 3.28-4.13 0-7.22-3.25-7.22-7.39 0-4.4 3.11-7.39 6.86-7.39 3.78 0 5.62 3.05 6.23 4.7l.31.85-9.71 4.08c.74 1.48 1.9 2.24 3.53 2.24s2.76-.82 3.58-2.05zm-7.63-2.66l6.5-2.74c-.36-.92-1.43-1.57-2.7-1.57-1.62 0-3.88 1.46-3.8 4.31z"
				fill="#EA4335"></path></svg
		>
	</div>
	<div class="search-container">
		<div class="search-box">
			<div class="search-input-container">
				<div class="search-input">
					<textarea
						class="search-textarea"
						aria-label="Search"
						placeholder="Search Google"
						rows="1"
						spellcheck="false">{query}</textarea
					>
				</div>
			</div>
		</div>
	</div>
	<div class="crJ18e">
		<div role="list" style="display:contents">
			<div
				jsname="VIftV"
				class="Ap1Qsc"
				role="listitem"
				data-hveid="CC0QAA"
				data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJegQILRAA"
			>
				<a
					class="nPDzT"
					aria-current="page"
					aria-disabled="true"
					role="link"
					tabindex="-1"
					data-hveid="CC0QAQ"
					data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Q2Z0MegQILRAB"
					><div selected="" jsname="bVqjv" class="YmvwI">All</div></a
				>
			</div><div
				role="listitem"
				data-hveid="CCMQAA"
				data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJKAB6BAgjEAA"
			>
				<a
					href="https://www.google.com/search?sca_esv=6abbda738bcff85b&rlz=1C1UEAD_enUS1123US1123&sxsrf=ADLYWILL81pYtAgZH1n35Ru7DLLlgQD1PQ:1732914774444&q=What+are+some+reliable+and+low-noise+generators+suitable+for+construction+sites%3F&udm=18&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA&sa=X&ved=2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qs6gLegQIIxAB"
					class="nPDzT T3FoJb"
					jsname="VIftV"
					role="link"
					data-hveid="CCMQAQ"
					data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qs6gLegQIIxAB"
					><div jsname="bVqjv" class="YmvwI">Forums</div></a
				>
			</div><div
				role="listitem"
				data-hveid="CCEQAA"
				data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJKAB6BAghEAA"
			>
				<a
					href="https://www.google.com/search?sca_esv=6abbda738bcff85b&rlz=1C1UEAD_enUS1123US1123&sxsrf=ADLYWILL81pYtAgZH1n35Ru7DLLlgQD1PQ:1732914774444&q=What+are+some+reliable+and+low-noise+generators+suitable+for+construction+sites%3F&udm=2&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA&sa=X&ved=2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtKgLegQIIRAB"
					class="nPDzT T3FoJb"
					jsname="VIftV"
					role="link"
					data-hveid="CCEQAQ"
					data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtKgLegQIIRAB"
					><div jsname="bVqjv" class="YmvwI">Images</div></a
				>
			</div><div
				role="listitem"
				data-hveid="CBgQAA"
				data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJKAB6BAgYEAA"
			>
				<a
					href="https://www.google.com/search?sca_esv=6abbda738bcff85b&rlz=1C1UEAD_enUS1123US1123&sxsrf=ADLYWILL81pYtAgZH1n35Ru7DLLlgQD1PQ:1732914774444&q=What+are+some+reliable+and+low-noise+generators+suitable+for+construction+sites%3F&udm=28&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA&ved=1t:220175&ictx=111"
					class="nPDzT T3FoJb"
					jsname="VIftV"
					role="link"
					data-hveid="CBgQAQ"
					data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qj7gNegQIGBAB"
					ping="/url?sa=t&source=web&rct=j&opi=89978449&url=/search%3Fsca_esv%3D6abbda738bcff85b%26rlz%3D1C1UEAD_enUS1123US1123%26sxsrf%3DADLYWILL81pYtAgZH1n35Ru7DLLlgQD1PQ:1732914774444%26q%3DWhat%2Bare%2Bsome%2Breliable%2Band%2Blow-noise%2Bgenerators%2Bsuitable%2Bfor%2Bconstruction%2Bsites%253F%26udm%3D28%26fbs%3DAEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA%26ved%3D1t:220175%26ictx%3D111&ved=2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qj7gNegQIGBAB"
					><div jsname="bVqjv" class="YmvwI">Shopping</div></a
				>
			</div><div
				role="listitem"
				data-hveid="CBYQAA"
				data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJKAB6BAgWEAA"
			>
				<a
					href="https://www.google.com/search?sca_esv=6abbda738bcff85b&rlz=1C1UEAD_enUS1123US1123&sxsrf=ADLYWILL81pYtAgZH1n35Ru7DLLlgQD1PQ:1732914774444&q=What+are+some+reliable+and+low-noise+generators+suitable+for+construction+sites%3F&udm=7&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA&sa=X&ved=2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtKgLegQIFhAB"
					class="nPDzT T3FoJb"
					jsname="VIftV"
					role="link"
					data-hveid="CBYQAQ"
					data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtKgLegQIFhAB"
					><div jsname="bVqjv" class="YmvwI">Videos</div></a
				>
			</div><div
				role="listitem"
				data-hveid="CBUQAA"
				data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJKAB6BAgVEAA"
			>
				<a
					href="https://www.google.com/search?sca_esv=6abbda738bcff85b&rlz=1C1UEAD_enUS1123US1123&sxsrf=ADLYWILL81pYtAgZH1n35Ru7DLLlgQD1PQ:1732914774444&q=What+are+some+reliable+and+low-noise+generators+suitable+for+construction+sites%3F&udm=14&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA&sa=X&ved=2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qs6gLegQIFRAB"
					class="nPDzT T3FoJb"
					jsname="VIftV"
					role="link"
					data-hveid="CBUQAQ"
					data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qs6gLegQIFRAB"
					><div jsname="bVqjv" class="YmvwI">Web</div></a
				>
			</div><div
				role="listitem"
				data-hveid="CBIQAA"
				data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJKAB6BAgSEAA"
			>
				<a
					href="https://www.google.com/search?sca_esv=6abbda738bcff85b&rlz=1C1UEAD_enUS1123US1123&sxsrf=ADLYWILL81pYtAgZH1n35Ru7DLLlgQD1PQ:1732914774444&q=What+are+some+reliable+and+low-noise+generators+suitable+for+construction+sites%3F&tbm=nws&source=lnms&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA&sa=X&ved=2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Q0pQJegQIEhAB"
					class="LatpMc nPDzT T3FoJb"
					jsname="VIftV"
					role="link"
					data-hveid="CBIQAQ"
					data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Q0pQJegQIEhAB"
					><div jsname="bVqjv" class="YmvwI">News</div></a
				>
			</div><div
				jscontroller="xdV1C"
				class="SF7xd"
				role="listitem"
				jsaction="rcuQ6b:npT2md;KyPa0e:Y0y4c"
			>
				<g-popup
					jsname="V68bde"
					class="CzKhHb"
					jscontroller="DPreE"
					jsaction="A05xBd:IYtByb;EOZ57e:WFrRFb;"
					jsdata="mVjAjf;_;Ak7ego"
					id="ow16"
					__is_owner="true"
					><div
						jsname="oYxtQd"
						class="CcNe6e"
						aria-expanded="false"
						aria-haspopup="true"
						role="button"
						tabindex="0"
						jsaction="WFrRFb;keydown:uYT2Vb"
					>
						<div class="Lu57id">
							<span
								style="height:16px;line-height:16px;width:16px"
								class="z1asCe SaPW2b"
								><svg
									focusable="false"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									><path
										d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
									></path></svg
								></span
							>More
						</div>
					</div><div
						jsname="V68bde"
						class="UjBGL iRQHZe"
						style="display:none;z-index:200"
						jsowner="ow16"
					>
						<div
							jsname="xl07Ob"
							class="CybWFf"
							id="_Vi5KZ5DoGoaz0PEPsoTKaA_12"
							tabindex="-1"
						>
							<div class="LtmTod" id="Vi5KZ5DoGoaz0PEPsoTKaA__14">
								<div
									role="listitem"
									data-hveid="CF8QAA"
									data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJKAB6BAhfEAA"
								>
									<a
										href="https://www.google.com/search?sca_esv=6abbda738bcff85b&rlz=1C1UEAD_enUS1123US1123&sxsrf=ADLYWILL81pYtAgZH1n35Ru7DLLlgQD1PQ:1732914774444&q=What+are+some+reliable+and+low-noise+generators+suitable+for+construction+sites%3F&udm=36&source=lnms&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA&sa=X&ved=2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Q0pQJegQIXxAB"
										class="LatpMc d4DFfb nPDzT T3FoJb"
										jsname="VIftV"
										role="link"
										data-hveid="CF8QAQ"
										data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Q0pQJegQIXxAB"
										><div class="eJWNqc YmvwI" jsname="bVqjv">Books</div></a
									>
								</div>
							</div><div class="LtmTod" id="Vi5KZ5DoGoaz0PEPsoTKaA__15">
								<div
									role="listitem"
									data-hveid="CGAQAA"
									data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJKAB6BAhgEAA"
								>
									<a
										href="https://maps.google.com/maps?sca_esv=6abbda738bcff85b&rlz=1C1UEAD_enUS1123US1123&output=search&q=What+are+some+reliable+and+low-noise+generators+suitable+for+construction+sites?&source=lnms&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA&entry=mc&ved=1t:200715&ictx=111"
										class="LatpMc d4DFfb nPDzT T3FoJb"
										jsname="VIftV"
										role="link"
										data-hveid="CGAQAQ"
										data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qi6AMegQIYBAB"
										ping="/url?sa=t&source=web&rct=j&opi=89978449&url=https://maps.google.com/maps%3Fsca_esv%3D6abbda738bcff85b%26rlz%3D1C1UEAD_enUS1123US1123%26output%3Dsearch%26q%3DWhat%2Bare%2Bsome%2Breliable%2Band%2Blow-noise%2Bgenerators%2Bsuitable%2Bfor%2Bconstruction%2Bsites%3F%26source%3Dlnms%26fbs%3DAEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA%26entry%3Dmc%26ved%3D1t:200715%26ictx%3D111&ved=2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qi6AMegQIYBAB"
										><div class="eJWNqc YmvwI" jsname="bVqjv">Maps</div></a
									>
								</div>
							</div><div class="LtmTod" id="Vi5KZ5DoGoaz0PEPsoTKaA__16">
								<div
									role="listitem"
									data-hveid="CGEQAA"
									data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0QtoAJKAB6BAhhEAA"
								>
									<a
										href="https://www.google.com/travel/flights?sca_esv=6abbda738bcff85b&rlz=1C1UEAD_enUS1123US1123&output=search&q=What+are+some+reliable+and+low-noise+generators+suitable+for+construction+sites%3F&source=lnms&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA&ved=1t:200715&ictx=111"
										class="LatpMc d4DFfb nPDzT T3FoJb"
										jsname="VIftV"
										role="link"
										data-hveid="CGEQAQ"
										data-ved="2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qi6AMegQIYRAB"
										ping="/url?sa=t&source=web&rct=j&opi=89978449&url=/travel/flights%3Fsca_esv%3D6abbda738bcff85b%26rlz%3D1C1UEAD_enUS1123US1123%26output%3Dsearch%26q%3DWhat%2Bare%2Bsome%2Breliable%2Band%2Blow-noise%2Bgenerators%2Bsuitable%2Bfor%2Bconstruction%2Bsites%253F%26source%3Dlnms%26fbs%3DAEQNm0Aa4sjWe7Rqy32pFwRj0UkWkJDIQg1ipjxbKdnzJ2b3WI-YkjTeA5RWNwACWmXZmVpQSDRSSJDEPYMC6ZhctVjGgtadPH7DYCEHdB0ZgTju24gFywAkZV-_F7vI_YWhoimtCNBY23cxWp5SRZjYAPr_kBJcsSGTc2S3j4Gken2HfxdSF-zL4q4_-486y78KeHwMCtCZWRSgJz6j6QiR8fYpwd1YVA%26ved%3D1t:20071
</div>5%26ictx%3D111&ved=2ahUKEwiQ67nMuoKKAxWGGTQIHTKCEg0Qi6AMegQIYRAB"
										><div class="eJWNqc YmvwI" jsname="bVqjv">Flights</div></a
									>
								</div>
							</div>
						</div>
					</div></g-popup
				>
			</div>
		</div>
	</div>

	<style>
		.google-mock {
			background: #fff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		.search-container {
			max-width: 632px;
			margin: 0 auto;
		}

		.search-box {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.google-logo {
			text-align: center;
			margin-bottom: 20px;
		}

		.search-input-container {
			display: flex;
			height: 44px;
			border: 1px solid #dfe1e5;
			border-radius: 24px;
			padding: 5px 8px;
			gap: 8px;
			align-items: center;
		}

		.search-input-container:hover {
			box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
			border-color: rgba(223, 225, 229, 0);
		}

		.search-input {
			flex: 1;
			display: flex;
			align-items: center;
		}

		.search-textarea {
			width: 100%;
			border: none;
			outline: none;
			font-size: 16px;
			background: transparent;
			color: #202124;
			resize: none;
			padding: 0;
			font-family: arial, sans-serif;
		}
	</style>
</div>
