---
interface Props {
  title: string;
  items: {
    iconHtml: string;
    title: string;
    description: string;
  }[];
}

const { title, items } = Astro.props;
---

<div class="section">
  <h1><Fragment set:html={title} /></h1>
  <div class="section-content">
    <ul>
      {
        items.map((item) => (
          <li>
            <Fragment set:html={item.iconHtml} />
            <h2>{item.title}</h2>
            <p>{item.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  :root {
    /* Spacing */
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;
    --spacing-2xl: 8rem;

    /* Sizes */
    --content-width: 800px;

    /* Typography */
    --text-3xl: 3em;
  }
  main {
    margin: 0 auto;
    background-color: var(--prls-main-surface-primary);
  }

  h1 {
    color: var(--prls-text-primary);
    font-family: var(--font-heading);
    /* text-align: right; */
  }

  h2 {
    font-family: var(--font-heading);
    /* text-align: right; */
  }

  .section {
    padding: 4rem 2rem;
    h1 {
      font-size: 2.5rem;
      /* margin-bottom: 3rem; */
      /* padding-right: 2rem; */
    }
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      /* margin-bottom: 0.75rem; */
    }

    p {
      font-size: var(--text-lg);
      /* line-height: 1.6; */
    }
    max-width: 1280px;
  }

  .section-content {
    margin: 3rem 0;
    /* padding: 2rem; */
    max-width: 800px;
    /* margin-left: auto; */
    ul {
      /* list-style: none; */
      /* padding: 0; */
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }

    li {
      /* text-align: right; */
      /* position: relative; */
      /* padding-right: 3rem; */
      /* transition: transform 0.2s ease; */
      display: flex;
      /* flex-direction: row-reverse; */
      align-items: center;
      gap: 3rem;
    }
  }

  .section-icon {
    font-size: 2rem;
    /* color: var(--prls-text-primary); */
  }

  :global(.step-number) {
    width: 60px;
    height: 60px;
    border: 2px solid var(--prls-main-surface-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: 2em;
  }

  .section-content li:hover {
    transform: translateX(8px);
  }
</style>
