body {
  background-color: #212121;
  color: white;
  /* Sets the text color to white for contrast */
}

svg {
  background-color: #212121 !important;
}

.label foreignObject {
  overflow: visible;
}

.cluster-label foreignObject {
  /* font-size: 90%; */
  overflow: visible;
}
